apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: logging-forwarder-operator
rules:
  - apiGroups:
      - hypershift.openshift.io
    resources:
      - hostedcontrolplanes
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - logging.openshift.io
    resources:
      - clusterlogforwarders
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - "logging.managed.openshift.io"
    resources:
      - clusterlogforwardertemplates
    verbs:
      - get
      - list
      - watch    
  - apiGroups:
      - logging.openshift.io
    resources:
      - clusterlogforwarders/status
    verbs:
      - get   
  - apiGroups:
      - ""
    resources:
      - services
      - services/finalizers
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
